html {font-size: 100% !important;}
.fl-node-5cc821748ae40 .uabb-creative-button-wrap a, .fl-node-5cc821748ae40 .uabb-creative-button-wrap a:visited {
    z-index: 1 !important;
    width: 250px !important;
    padding: 15px !important;
}
.ast-theme-transparent-header .main-header-menu .current_page_item > a {
    color: #59167f !important;
}
.ast-theme-transparent-header .main-header-menu a, .ast-theme-transparent-header .main-header-menu a:active, .ast-theme-transparent-header .main-header-menu a:focus {
    color: #701D9F;
}
#masthead .site-logo-img .custom-logo-link img {
    width: 90px !important;
}
.ast-theme-transparent-header .main-header-menu li:hover > a{
    color: #701D9F !important;
}
.centerbuttons .uabb-button-wrap a {
    width: 100% !important;
    padding: 10px !important;
}
.bannerBT span, .centerbuttons .uabb-button-wrap a span {
    font-size: 14px !important;
    font-weight: 800 !important;
}
.fl-builder-content .uabb-creative-button-wrap a.uabb-button:hover, .fl-builder-content .uabb-creative-button-wrap a.uabb-button:hover * {
    color: #ffffff !important;
}
.main-header-menu a:hover, .ast-header-custom-item a:hover, .current-menu-item a, .fl-builder-content .uabb-creative-button-wrap a.uabb-button:hover, .fl-builder-content .centerbuttons .uabb-creative-button-wrap a.uabb-button:hover * {
    color: #701D9F;
}
.fl-builder-content .fl-node-5cc821748ae40 .uabb-creative-button-wrap a.uabb-button:hover * {
    color: #ffffff !important;
}
.magicard-shuffle, .magicard-toggle {
    user-select: none !important;
}
